<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/styles/styles.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="icon" href="http://diysolarpanelsv.com/images/basketball-clipart-png-42.png">

    <title>2017 CBA Trade Machine</title>
</head>
<body>
<div class='container' style="padding-top:20px">
<div class="row">
            <div class="col xs-12 col-sm-6 padb">
                <a href="{{ url_for('index') }}" class="btn btn-primary btn-block">Create New Trade</a>
            </div>
            <div class="col xs-12 col-sm-6 padb">
                 <a href="{{ url_for('trade', trade=trade_string) }}" class="btn btn-primary btn-block">Edit Trade</a>
            </div>
        </div>
    <h2 style="text-align: center;" id="final_decision">{{ final_decision }} </h3>
    <div class="row">
        {% for team in trade.teams %}
            {% if team_names|length == 2 %}
                <div class="col-xs-12 col-sm-6 padlr">
            {% elif team_names|length == 3 %}
                <div class="col-xs-12 col-sm-4 padlr">
            {% else %}
                <div class="col-xs-12 col-sm-6 col-md-3 padlr">
            {% endif %}

            <div class="row">
                <div class="row">
                    <div class="col-xs-3 team_name" align="left"> {{ team.name }}</div>
                    <div class="col-xs-9 team_salary bold" style="padding-right: 20px" align="right">Team Salary: {{ team.salary_as_currency() }}</div>
                </div>

                <hr style="border-color:black;margin:0px;">
                <h5> Incoming: </h5>

                <table class="table table-responsive players_table small_bottom_margin">

                {% if team.players_in|length == 0 %}
                    <tr>
                        <td class="noborder" style="width:1%"><img class="headshot" src="../static/money.png"/> </td>
                        <td class="noborder" style="vertical-align: middle">Cash/Draft Picks/Rights</td>

                    </tr>
                {% endif %}
                {% for p in team.players_in %}
                    <tr>
                         <td class="noborder" style="width:1%"><img class="headshot"
                                                  src="https://www.spotrac.com/assets/headshots/nba/{{ p.numID }}.png">
                        </td>
                        <td class="player noborder" style="vertical-align: middle;"> {{ p.name }}</td>
                        <td class="player noborder" style="vertical-align: middle;" align="right"> {{ p.salary_as_currency() }}</td>
                    </tr>
                {% endfor %}
                </table>
                <div class="money_in_out bold"> Total Salary In: {{ team.money_in_as_currency() }}</div>

            </div>
            <div class="row">
                <hr style="border-color:black;margin:0px;">

                <h5> Outgoing: </h5>

                <table class="table table-responsive players_table small_bottom_margin">

                 {% if team.players_out|length == 0 %}
                    <tr>
                        <td class="noborder" style="width:1%"><img class="headshot" src="../static/money.png"/> </td>
                        <td class="noborder" style="vertical-align: middle">Cash/Draft Picks/Rights</td>
                    </tr>
                {% endif %}

                {% for p in team.players_out %}
                    <tr >
                        <td class="noborder" style="width:1%"><img class="headshot"
                                                  src="https://www.spotrac.com/assets/headshots/nba/{{ p.numID }}.png">
                        </td>
                        <td class="player noborder" style="vertical-align: middle;"> {{ p.name }}</td>
                        <td class="player noborder" style="vertical-align: middle;" align="right"> {{ p.salary_as_currency() }}</td>
                    </tr>
                {% endfor %}

                </table>
                <div class="money_in_out bold"> Total Salary Out: {{ team.money_out_as_currency() }}</div>
                <hr style="border-color:black;margin:0;">

            </div>

            <div class="row msg" id ="team_msg">
                {% for m in msgs[team] %}
                    <p style="margin:0 !important;"> {{ m }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col xs-12 col-sm-6 padb">
                <a href="{{ url_for('index') }}" class="btn btn-primary btn-block">Create New Trade</a>
            </div>
            <div class="col xs-12 col-sm-6 padb">
                 <a id="refresh" href="{{ url_for('trade', trade=trade_string) }}" class="btn btn-primary btn-block">Edit Trade</a>
            </div>
        </div>
        <br>
        <br>

</body>

<script>

    if(document.getElementById('final_decision').innerText === "This trade is not successful."){
        document.getElementById('final_decision').style.color = 'red';
        var elems = document.getElementsByClassName('msg');
        for (var i = 0; i < elems.length; i++) {
            elems[i].style.color = 'red';
        }
    }
    else{
        document.getElementById('final_decision').style.color = 'green';
        var elems = document.getElementsByClassName('msg');
        for (var i = 0; i < elems.length; i++) {
            elems[i].style.color = 'green';
        }
    }

    setTimeout(function() {
        var elems = document.getElementsByClassName('headshot');
        for (var i = 0; i < elems.length; i++){
            var height = elems[i].clientHeight;
            if(height === 0){
                elems[i].src = 'https://www.spotrac.com/assets/headshots/default-person.png'
            }
        }
    }, 2500);



</script>
</html>