<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/styles.css"/>
    <link type="text/css" rel="stylesheet" href="../static/styles/footer-distributed.css"/>
    <title>2017 CBA Trade Machine</title>
    <link rel="icon" href="http://diysolarpanelsv.com/images/basketball-clipart-png-42.png">

</head>
<body>
<a style="text-decoration:none;color:black;" href="{{ url_for('index') }}">
    <div class="jumbotron text-center bg">
        <h2>NBA Trade Checker</h2>
        <h4>Trades are ruled possible or impossible based on the 2017 CBA</h4>
    </div>
</a>

<div class="container">

    <h4> Please select your teams:</h4>

    <form class="form-inline" method="POST" action="{{ url_for('trade') }}">
        <div class="row">
            <div class="col-sm-3">
                <h4> Team 1:</h4>
                <select name="team1" class="team_dropdown">
                    {% for i in team_list %}
                        <option name = {{ i }} value="{{ i }}"> {{ i }} </option>
                    {%  endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <h4> Team 2:</h4>
                <select name="team2" class="team_dropdown">
                    {% for i in team_list %}
                        {% if i == "BKN" %}
                         <option selected name= {{ i }} value="{{ i }}"> {{ i }} </option>
                        {% else %}
                        <option name = {{ i }} value="{{ i }}"> {{ i }} </option>
                        {%  endif %}
                    {%  endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <h4> Team 3:</h4>
                <select name="team3" class="team_dropdown">
                    <option>None</option>
                    {% for i in team_list %}
                        <option name = {{ i }} value="{{ i }}"> {{ i }} </option>
                    {%  endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <h4> Team 4:</h4>
                <select name="team4" class="team_dropdown">
                    <option>None</option>
                    {% for i in team_list %}
                        <option name = {{ i }} value="{{ i }}"> {{ i }} </option>
                    {%  endfor %}
                </select>
            </div>
        </div>
        <br>
        <input class="btn btn-primary btn-block" type="submit" name="SUBMITBUTTON" value="Go" />
    </form>

</div>

<footer class="footer-distributed">
    <div class="footer-right">
        <a href="https://www.linkedin.com/in/cole-fisher/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/cfisher5" target="_blank"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">Cole Fisher - Western University Computer Science - colef@rogers.com</p>
        <p>Created 2017</p>
    </div>
</footer>


</body>

</html>