<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/styles.css"/>
    <link type="text/css" rel="stylesheet" href="../static/styles/footer-distributed.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="icon" href="../static/ball.png">

    <title>2017 CBA Trade Machine</title>
</head>
<body id="trade_page">
<a style="text-decoration:none;color:black;" href="{{ url_for('index') }}">
    <div class="jumbotron text-center bg">
        <h2>NBA Trade Checker</h2>
        <h4>Trades are ruled possible or impossible based on the 2017 CBA</h4>
    </div>
</a>

<form class="check_trade" method="POST" action="{{ url_for('checktrade', trade=trade_info) }}">

    <div class='container' style="padding-top:20px">

        <div class="row">
            <div class="col-sm-12 col-md-4 padb">
                <a href="{{ url_for('index') }}" class="btn btn-primary btn-block">Pick New Teams</a>
            </div>
            <div class="col-sm-12 col-md-8">
                <input class="btn btn-primary btn-block" type="submit" name="SUBMITBUTTON" value="Check Trade"/>
            </div>
        </div>

            <br>
            <br>

        <div class="row">
            {% for team in teams %}
                {% if teams|length == 2 %}
                    <div class="col-xs-12 col-md-6">
                {% elif teams|length == 3 %}
                    <div class="col-xs-12 col-md-4">
                {% else %}
                    <div class="col-md-12 col-lg-3 col-xl-3">
                {% endif %}

            <div class="row">
                <div class="col-xs-3" align="left"> <img style="width:60px;" src="http://i.cdn.turner.com/nba/nba/assets/logos/teams/primary/web/{{ team.name }}.svg"/></div>
                <div class="col-xs-9 team_salary" style="margin-top:38px;" id="{{ team.name }}-salary" align="right">Team Salary: {{ team.salary_as_currency() }}</div>
            </div>

            <hr class="divider">
            <table id="{{ team.name }}" class="table table-hover table-responsive players_table being_traded">
            </table>

            <hr class="bottom divider">

            <table class="table table-striped table-bordered table-hover table-responsive players_table">
                <thead>
                <tr>
                    <th>Trade?</th>
                    <th></th>
                    <th></th>
                    <th style="text-align:right">Salary</th>
                </tr>
                </thead>
                <tbody>
                {% for player in team.get_players() %}
                    <tr id="{{ player.numID }}" class="{{ team.name }}">
                        <td class="player" align="center" style="width:1%"><input type="checkbox" onclick="trade_player(this)" style="zoom:2"
                                                                                  name="{{ team.name }}_players_traded"
                                                                                  value="{{ player.numID }}"/></td>

                        <td style="width:1%"><img class="headshot"
                                                  src="https://www.spotrac.com/assets/headshots/nba/{{ player.numID }}.png">
                        </td>
                        <td class="player">{{ player.name }}
                            {% if player.restriction != None %}
                            <div class="tooltip">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="tooltiptext"> {{ player.restriction_msg }} </span>
                            </div>
                            {% endif %}
                        </td>
                        <td class="player" align="right"> {{ player.salary_as_currency() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

                <div>
                {% if team.get_trade_exceptions()|length > 0 %}
                <h5>Trade Exceptions</h5>
                <table class="table table-hover table-responsive players_table being_traded">
               <thead>
                <tr>
                    <th>Expiry Date:</th>
                    <th style="text-align:right">Salary</th>
                </tr>
                </thead>
                <tbody>
                {% for tpe in team.get_trade_exceptions() %}
                  <tr>
                    <td>{{ tpe[0] }}</td>
                    <td style="text-align:right" >{{ tpe[1] }}</td>
                  </tr>
                {% endfor %}
                </table>
                {% endif %}
                </div>


            </div>

            {% endfor %}

            </div>

            <input class="btn btn-primary btn-block" style="margin-bottom:150px;" type="submit" name="SUBMITBUTTON" value="Check Trade"/>
            <br>
            <br>
            </div>
        </div>
    </div>

<form id="whichTeam">
<div class="dialog" style="display:none" title="Trade to where?">
    <div id="dialog">
    </div>
</div>
</form>

</form>

<footer class="footer-distributed">
    <div class="footer-right">
        <a class="blue_hover" href="https://www.linkedin.com/in/cole-fisher/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a class="blue_hover" href="https://github.com/cfisher5" target="_blank"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">Cole Fisher • Western University Computer Science • <a class="blue_hover" href="mailto:colef@rogers.com" target="_top">colef@rogers.com</a></p>
        <p>Created 2017</p>
    </div>
</footer>



</body>

<script>

    var team_length = '{{ team_names|length }}';
    console.log(team_length);
    if(team_length >= 2){
         var team1 = '{{ team_names[0] }}';
         var team2 = '{{ team_names[1] }}';
    }
    if (team_length >= 3){
        var team3 = '{{ team_names[2] }}';
    }
    if (team_length == 4){
        var team4 = '{{ team_names[3] }}';
    }

    len = {{ trade_info|length }};
    if(len>0){
        trade_info = {{ trade_info|safe }};
        for(var i = 0; i < len; i++) {
            var team_from = trade_info[i][0];
            var p_id = trade_info[i][1];
            var team_to = trade_info[i][2];
            console.log(team_from, p_id, team_to);
            console.log(document.getElementById(p_id).children[0].children[0]);
            document.getElementById(p_id).children[0].children[0].checked = true;
            table = document.getElementById(team_to);
            row = document.getElementById(p_id);
            var clone = row.cloneNode(true); // copy children too
            clone.deleteCell(0);
            clone.id = p_id + "clone"; // change id
            table.appendChild(clone); // add new row to end of table
            row.children[0].children[0].setAttribute('value', team_from + '-' + p_id + '-' + team_to );

        }
    }

    function trade_player(row){

        var handler = function(){
            row.checked = false;
            $("#dialog").empty();
            $('.dialog').dialog("close");
        };

        var player = row.parentNode.parentNode;

        var table;
        var trade_to;
        if(row.checked) {

            var player_row = document.getElementById(player.id); // find row to copy

            if(team_length > 2){

                var label = $("<label for='terms'>Select Team</label>");
                label.appendTo('#dialog');
                var br = $("<br>");
                br.appendTo("#dialog");

                if(team_length == 3){

                    if(team1 != player.className){
                        var radBtn = $("<input type='radio' id=btn'"+team1+"' value='"+team1+"' class='radioteam' name='radioteam'>"+'&nbsp;'+team1+"</input>  <br>");
                        radBtn.appendTo('#dialog');

                    }
                    if(team2 != player.className){
                        var radBtn = $("<input type='radio' id=btn'"+team2+"' value='"+team2+"' class='radioteam' name='radioteam'>"+'&nbsp;'+team2+"</input>  <br>");
                        radBtn.appendTo('#dialog');
                    }
                    if(team3 != player.className){
                        var radBtn = $("<input type='radio' id=btn'"+team3+"' value='"+team3+"' class='radioteam' name='radioteam'>"+'&nbsp;'+team3+" </input> <br>");
                        radBtn.appendTo('#dialog');
                    }
                }

                if(team_length == 4){

                    if(team1 != player.className){
                        var radBtn = $("<input type='radio' id=btn'"+team1+"' value='"+team1+"' class='radioteam' name='radioteam'>"+'&nbsp;'+team1+" </input> <br>");
                        radBtn.appendTo('#dialog');
                    }
                    if(team2 != player.className){
                        var radBtn = $("<input type='radio' id=btn'"+team2+"' value='"+team2+"' class='radioteam' name='radioteam'>"+'&nbsp;'+team2+"</input> <br>");
                        radBtn.appendTo('#dialog');
                    }
                    if(team3 != player.className){
                        var radBtn = $("<input type='radio' id=btn'"+team3+"' value='"+team3+"' class='radioteam' name='radioteam'>"+'&nbsp;'+team3+"</input>  <br>");
                        radBtn.appendTo('#dialog');
                    }
                    if(team4 != player.className){
                        var radBtn = $("<input type='radio' id=btn'"+team4+"' value='"+team4+"' class='radioteam' name='radioteam'>"+'&nbsp;'+team4+"</input> <br>");
                        radBtn.appendTo('#dialog');
                    }
                }

                $( ".dialog" ).dialog({
                    modal:true,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        var el = $(this).closest('.ui-dialog').find('.ui-dialog-titlebar-close');
                        el.off();
                        el.on("click", handler);
                    },
                    buttons: [
                        {
                            text: "OK",
                            click: function() {
                                trade_to = $('input[class=radioteam]:checked').val();
                                if(trade_to === undefined || trade_to === null){
                                    return false;
                                }
                                $( this ).dialog( "close" );
                                table = document.getElementById(trade_to);
                                var clone = player_row.cloneNode(true); // copy children too
                                clone.deleteCell(0);
                                clone.id = player.id + "clone"; // change id
                                table.appendChild(clone); // add new row to end of table
                                $("#dialog").empty();
                                row.setAttribute('value', player.className + '-' + player.id + '-' + trade_to );


                            }
                        }
                    ]
                });

            }

            else {
                if (player.className == team1) {
                    trade_to = team2;
                    table = document.getElementById(trade_to);
                }
                else {
                    trade_to = team1;
                    table = document.getElementById(trade_to);
                }

                var clone = player_row.cloneNode(true);
                clone.deleteCell(0);
                clone.id = player.id + "clone";
                table.appendChild(clone);
                row.setAttribute('value', player.className + '-' + player.id + '-' + trade_to );
            }

            console.log(player);
            var team_from = player_row.className;
            var salary_element = team_from.concat("-salary");
            console.log(salary_element);
            var team_salary = document.getElementById(salary_element).innerText;
{#            var team_salary_backend = '{{ team_from.salary }}';#}
{#            console.log(team_salary_backend);#}

            console.log(team_salary);

            //player.style.backgroundColor = 'orange';
        }

        else{
            var row_to_delete = document.getElementById(player.id + "clone");
            row_to_delete.parentNode.removeChild(row_to_delete);
            //player.style.backgroundColor = 'white';

        }
    }

    setTimeout(function() {
        var elems = document.getElementsByClassName('headshot');
        console.log("executing the right function");
        for (var i = 0; i < elems.length; i++){
            var height = elems[i].clientHeight;
            if(height <= 24){
                console.log("this person needs a blank pic");
                elems[i].src = 'https://www.spotrac.com/assets/headshots/default-person.png'
            }
        }
    }, 2500);

{#    setTimeout(window.onload = function(){#}
{#        console.log("page reloaded");#}
{#        len = {{ trade_info|length }};#}
{#        if(len>0){#}
{#            trade_info = {{ trade_info|safe }};#}
{#            for(var i = 0; i < len; i++) {#}
{#                var team_from = trade_info[i][0];#}
{#                var p_id = trade_info[i][1];#}
{#                var team_to = trade_info[i][2];#}
{#                console.log(team_from, p_id, team_to);#}
{#                console.log(document.getElementById(p_id).children[0].children[0]);#}
{#                document.getElementById(p_id).children[0].children[0].checked = true;#}
{#                table = document.getElementById(team_to);#}
{#                row = document.getElementById(p_id);#}
{#                var clone = row.cloneNode(true); // copy children too#}
{#                clone.deleteCell(0);#}
{#                clone.id = p_id + "clone"; // change id#}
{#                table.appendChild(clone); // add new row to end of table#}
{#                row.children[0].children[0].setAttribute('value', team_from + '-' + p_id + '-' + team_to );#}
{##}
{#            }#}
{#        }#}
{#    },2500);#}
{##}
{#    window.onunload = function(){#}
{#        console.log("about to relaod");#}
{#        var teamlist = '{{ team_names }}';#}
{#        var e = document.getElementById('trade_page').innerHTML;#}
{#        console.log(e);#}
{#        console.log(teamlist);#}
{#        sessionStorage.setItem("teams", teamlist);#}
{#        sessionStorage.setItem("everything", e);#}
{#    };#}

</script>

</html>