html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.container{
    width:95% !important;
    padding-bottom:165px;
}
.outer_container{
    min-height:100%;
    position: relative;
}

#error_msg{
    text-align: center;
    color:red;
}

.team_dropdown {
    width:80%;
}
.player {
    padding: 2px 5px !important;

}
.players_table {
    font-size:12px;
}

.bg{
    padding:15px;
    background-image: url("../background.png");
}

.headshot{
    height: 45%;
}

.team_name{
    font-weight:bold;
    font-size:16px;
    vertical-align: bottom;
}

.team_salary{
    font-size:12px;
    vertical-align: bottom;
    padding-top:5px;
}

.divider {
    border-color: black;
    margin-top:10px;
}

.padlr{
    padding-left:40px;
    padding-right:40px;
}

.small_bottom_margin{
    margin-bottom:5px !important;
}

.money_in_out{
    text-align: right;
    font-size: 12px;
    margin-right:5px;
}
#team_msg{
    margin-top:30px;
    margin-bottom:20px;
}

.noborder{
    border-top:none !important;
}

.bold{
    font-weight:bold;
}

#final_decision{
    margin-bottom:30px;
}

.padb{
    padding-bottom:20px;
}

.cash-picks-rights{
    padding-left:50px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity:1;
    z-index:1 !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 1700%;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 12000 !important;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.radio-label{
    padding-left: 5px;
    font-weight: normal;
}
